.create-room-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border: solid 4px black;
    background-color: rgb(245, 245, 245);
    font-family: 'Bagnard';
    
    h2 {
        font-size: 45px;
        margin-bottom: 10px;
    }
    form {
        font-size: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }

    h3 {
        margin-bottom: 10px;
    }

    input[type=text] {
        border: 1px solid black;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 5px;
        outline: none;
    }

    select {
        border: 1px solid black;
        font-size: 18px;
        padding: 5px;
    }


    input[type=submit] {
        margin: 10px;
        font-size: 25px;
        padding: 15px 5px;
        background-color: transparent;
        border: 2px solid black;
        box-shadow: 4px 4px black;
        &:hover{
            cursor: pointer;
            transform: scale(105%);
            transition-duration: 0.5s;
        }
    }

    p {
        color:red;
        font-size: 20px;
    }
}

.modal-background {
    z-index: 20;
     background-color: rgba(28, 28, 28, 0.5);
}