.game-modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 115px 0;
}

.game-container {
    border:3px solid red;
    width: 80%;
    height: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
}