.game-modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 115px 0;
}

.game-container {
    border: 3px solid red;
    min-width: 800px;
    min-height: 800px;
    background-color: white;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
     

    .close-gameboard-button {
        width: fit-content;
        height: fit-content;
        background-color: wheat;
        border: 2px solid #000;
        box-shadow: 3px 3px 0 #000;
        font-family: 'Noticia Text', serif;
        font-size: 18px;
        position: relative;
        left: 3%;
        top: 10px;
        cursor: pointer;
    }

    .close-gameboard-button:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

}

.game-board-container {
    width: 100%;
    height: 100%;
    z-index: 100;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    
}

#prompt-div {
    position: absolute;
    top: 10%;
    font-size: 36px;
    background-color: wheat;
    color: black;
    padding: 10px;
    font-family: 'Noticia Text', serif;
    box-shadow: 8px 8px 15px #4e4d4d;

}

#submit {
    width: fit-content;
    height: fit-content;
    background-color: wheat;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    font-family: 'Noticia Text', serif;
    font-size: 18px;
    position: relative;
    left: 40%;
    cursor: pointer;
}

#submit:hover {
    transform: scale(1.1);
    transition: 0.5s;

}

#game-errors {
    position: absolute;
    display: flex;
    z-index: 3;
    background: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    height: 30px;
    width: 100vw;
    left: 0;
    top: 0;
    transition: 2s;
    align-items: center;
    user-select: none;
    justify-content: space-evenly;
}
