#navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom:4px solid rgb(31, 28, 18);
    // background-color: rgb(240,219,192);
    // background-color: rgb(252,217,156);
    background-image: url('../../public/images/paper.jpg');
    background-repeat: repeat;
    color: rgb(31,28,18);
    align-items: center;
}

#logoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 6vw;

}

#logoTitle {
    margin: 5px 0 5px 20px;
    font-size: 60px;

    #logoPic {
        width: 4vw;
        height: auto;
        margin: 10px 0 0 10px;
    }

    h1 {
        padding: 0 0 10px 5px;
    }
}

.main-title {
    font-family: 'Blacktail';
    font-size: 60px;
    margin-left: 150px;
    margin-top: -10px;
}


#navButtons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 15vw;
    margin-right: 20px;
}

.navButton {
    border: 2px solid rgb(31,28,18);
    border-radius: 2px;
    // border-right: 4px solid rgb(31, 28, 18);
    // border-bottom: 4px solid rgb(31, 28, 18);
    box-shadow: 4px 4px 0px rgb(31,28,18);
    background-color: transparent;
    text-decoration: none;
    white-space:nowrap;
    margin: 0 10px;
    padding: 10px;
    color: rgb(31,28,18);
    font-family: 'Bagnard';
    font-size: 25px;

}

.navButton:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

#appMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#linkBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-top: 4px solid rgb(31, 28, 18);
    background-image: url('../../public/images/paper.jpg');
}


.personalLinks {
    display: flex;
    flex-direction: row;
    width: fit-content;
    // padding-bottom: 20px;
    margin: 60px 0 60px 0;
    // border: 5px double rgb(31, 28, 18);
    // border-radius: 5px;
    background-image: url('../../public/images/paper.jpg');
}



.tintype-container {
    position: relative;

    img {
        width: 6vw;
    height: auto;
    border-radius: 3px;
    margin-right: 5px;
    transition: 0.5s;
    }
    h6 {
        text-align: left;
        position: absolute;
        left: 1.6vw;
        top: 1.9vw;
        // display: block;
        opacity: 0;
        transition: 0.5s;
        font-family: 'Blacktail';
        font-size:24px;
        // text-shadow: -1px 1px 0 rgb(31,28,18),
        // 1px 1px 0 rgb(31,28,18),
        // 1px -1px 0 rgb(31,28,18),
        // -1px -1px 0 rgb(31,28,18),
        // -2px 2px white;
        color: white;
    }
}

.tintype-container:hover {
    position: relative;

    img {
        filter: brightness(0.5);
    }
    h6 {
        position:absolute;
        // display: block;
        left: 1.6vw;
        top: 1.9vw;
        opacity: 1;
        text-shadow: 0 0 0.5px white;
        // text-shadow: -1px 1px 0 rgb(31,28,18),
        // 1px 1px 0 rgb(31,28,18),
        // 1px -1px 0 rgb(31,28,18),
        // -1px -1px 0 rgb(31,28,18),
        // -2px 2px white;
        transition: 0.5s;
    }
}



.links {
    display: flex;
    flex-direction: column;
}

.linkName {
    // align-items: center;
    // background-color: rgb(31, 28, 18);
    // background-image: url('../../public/images/paper.jpg');
    // width: 13vw;
    font-family: 'Blacktail';
    font-size: 21px;
    margin-bottom: 5px;
    // color: rgb(31, 28, 18);
    // text-align: center;
    //     // text-shadow: -1px 1px 0 rgb(31,28,18),
    //     // 1px 1px 0 rgb(31,28,18),
    //     // 1px -1px 0 rgb(31,28,18),
    //     // -1px -1px 0 rgb(31,28,18),
    //     // -2px 2px #fcd99c;
    
}

.githubImg {
    height:1.7vw;
    transition: 0.5s;
}

.githubImg:hover {
    filter: invert(0.4);
}

.linkedinImg {
    height: 1.7vw;
    transition: 0.5s;
}

.linkedinImg:hover {
    filter: invert(0.4);
}

.angellistImg {
    height: 1.7vw;
        transition: 0.5s;
}

.angellistImg:hover {
    filter: invert(0.4);
}

// .personalLinks > div {
//     display: flex;
//     // flex-direction: row;
//     flex-direction: column;
//     height: 50px;
//     justify-content: space-evenly;
//     font-family: 'Noticia Text', serif;
//     // background-color: rgb(31, 28, 18);
//     background-image: url('../../public/images/paper.jpg');

// }


.pictophone {
    height: 8em;
    padding-left: 20%;
}