#navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom:4px solid rgb(31, 28, 18);
    background-image: url('../../public/images/paper.jpg');
    background-repeat: repeat;
    color: rgb(31,28,18);
    align-items: center;
}

#logoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 6vw;

}

#logoTitle {
    margin: 5px 0 5px 20px;
    font-size: 60px;

    #logoPic {
        width: 4vw;
        height: auto;
        margin: 10px 0 0 10px;
    }

    h1 {
        padding: 0 0 10px 5px;
    }
}

.main-title {
    font-family: 'Blacktail';
    font-size: 60px;
    margin-left: 150px;
    margin-top: -10px;
}


#navButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;  //
    width: 15vw;
    margin-right: 20px;
}

.navButton {
    border: 2px solid rgb(31,28,18);
    border-radius: 2px;
    box-shadow: 4px 4px 0px rgb(31,28,18);
    background-color: transparent;
    text-decoration: none;
    white-space:nowrap;
    margin: 0 10px;
    padding: 10px;
    color: rgb(31,28,18);
    font-family: 'Bagnard';
    font-size: 25px;

}

.navButton:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

#appMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#linkBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-top: 4px solid rgb(31, 28, 18);
    background-image: url('../../public/images/paper.jpg');
}


.personalLinks {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 60px 0 60px 0;
    background-image: url('../../public/images/paper.jpg');
}



.tintype-container {
    position: relative;

    img {
        width: 6vw;
    height: auto;
    border-radius: 3px;
    margin-right: 5px;
    transition: 0.5s;
    }
    h6 {
        text-align: left;
        position: absolute;
        left: 1.6vw;
        top: 1.9vw;
        opacity: 0;
        transition: 0.5s;
        font-family: 'Blacktail';
        font-size:24px;
        color: white;
    }
}

.tintype-container:hover {
    position: relative;

    img {
        filter: brightness(0.5);
    }
    h6 {
        position:absolute;
        left: 1.6vw;
        top: 1.9vw;
        opacity: 1;
        text-shadow: 0 0 0.5px white;
        transition: 0.5s;
    }
}



.links {
    display: flex;
    flex-direction: column;
}

.linkName {
    font-family: 'Blacktail';
    font-size: 21px;
    margin-bottom: 5px;  
}

.githubImg {
    height:1.7vw;
    transition: 0.5s;
}

.githubImg:hover {
    filter: invert(0.4);
}

.linkedinImg {
    height: 1.7vw;
    transition: 0.5s;
}

.linkedinImg:hover {
    filter: invert(0.4);
}

.angellistImg {
    height: 1.7vw;
        transition: 0.5s;
}

.angellistImg:hover {
    filter: invert(0.4);
}

.pictophone {
    height: 8em;
    padding-left: 20%;
}

#settings-modal {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background: #6868687d;
}

#settings-content {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../public/images/paper.jpg');
    padding: 2rem;
    border-radius: 10%;
}

#settings-content h3 {
    font-family: 'Blacktail';
    font-size: 25px;
}

.settings-option {
    margin: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
}

input[type='range']{
    -webkit-appearance: none; 
    width: 100%; 
    background: transparent;
    margin-top: 15%
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; 
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}

input[type=range]:focus {
    outline: none; 
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }