.presentation-container {
    // background-color: white;
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    .chain{
        // border: 1px solid red;
        height: 600px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        h2 {
            font-weight: 600;
            font-size: 20px;
        }
        li {
            text-align: center;
        }
        li:nth-child(even){
            height: 250px;
            margin: 5px 0;
        } 
        img {
            height: 100%;
            border: 1px solid black;
        }
    }
}