#Room {
    width: 70vw;
    min-height: calc(95vh - 280px);
    border: 3px dotted black;
    display: flex;
}

#freeDrawSpace {
    width: 70%;
    border-right: 3px dotted black;
    background-color: wheat;
}

#roomChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: wheat;
    width: 25vw;
}

#leaveRoom {
 width: 100%;   
}

#chatMessages {
    overflow: hidden;
}