/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@use './stylesheets/reset.scss';

@use './stylesheets/splash.scss';
@use './stylesheets/lobby.scss';
@use './stylesheets/navbar.scss';
@use './stylesheets/room.scss';
@use './stylesheets/modal.scss';
@use './stylesheets/create_form.scss';
@use './stylesheets/auth.scss';
